# virtual environments
.my_env/*
.venv/*
**/.env
**/.venv

# notebook files
**/.ipynb_checkpoints/*
**/*.ipynb

# data files
db_data/*
data/*
*.parquet

# python files
**/__pycache__

# airflow files
**/logs/*

# dbt files
**/taxi_rides_ny.duckdb

